/* style switcher */
.style-switcher {
  position: fixed;
  top: 77px;
  right: -15px;
  padding: 15px;
  width: 250px;
  z-index: 5464561;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);

  /* glassmorphism */
  background: var(--for-switcher);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.style-switcher.open {
  transform: translateX(-15px);
}
.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  right: 100%;
  margin-right: 40px;
  cursor: pointer;
  color: var(--bg-black-900);
  /* text-align: center; */
  transition: all 0.3s ease;
  border-radius: 50%;

  background: var(--for-switcher);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.style-switcher .s-icon i {
  line-height: 40px;
}
.style-switcher .s-icon::after {
  border-radius: 50%;
}
.style-switcher .style-switcher-toggler {
  top: 0;
}
.style-switcher .day-night {
  top: 55px;
}
.style-switcher .blogs {
  top: 112px;
}

.style-switcher h4 {
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px;
  text-transform: capitalize;
}
.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.style-switcher span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.style-switcher .color-1 {
  background-color: #fb839e;
}
.style-switcher .color-2 {
  background-color: #ec9412;
}
.style-switcher .color-3 {
  background-color: #1fc581;
}
.style-switcher .color-4 {
  background-color: #2eb1ed;
}
.style-switcher .color-5 {
  background-color: #cc3a3b;
}
.style-switcher .color-6 {
  background-color: #fff;
}
.project-tab{
  top: -57%;
}


.project{
  position: fixed;
  opacity: 546541545646546;
  top: 21px;
  right: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--for-switcher);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.project a{
  color:var(--text-black-900);
  text-align: center;
  line-height: 1.99999;
}
.fa-tasks:hover:before,
.fa-moon:hover:before,
.fa-cog:hover:before,
.fa-moon:hover:before,
.fa-blog:hover:before,
.fa-sun:hover:before{
  transition: all 0.3s ease;
  color: var(--skin-color);
}