@media (max-width: 991px) {
  .service-section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 860px) {
  .service-section .service-item,
  .about-section .skills .skills-item,
  .about-section .about-info,
  .about-section .about-img,
  .home-section .home-text,
  .home-section .home-img {
    flex: 0 0 100%;
    max-width: 100%;
    margin: auto;
  }
  .service-section .service-item-inner .icon i{
    color: var(--skin-color);
  }
  .home-section .home-text {
    order: 2;
    text-align: center;
  }
  .home-section .full-screen {
    padding: 100px 0;
  }
  .home-section .home-img .img-box {
    margin-bottom: 40px;
    max-width: 350px;
  }
  .effect-3 {
    margin-left: -60px;
  }
  .effect-4 {
    left: 15%;
  }
  .effect-5 {
    right: 4%;
  }
  .about-section .about-img {
    padding-bottom: 30px;
    max-width: 90%;
  }
  .about-section .skills .skills-item {
    max-width: 75%;
    padding-bottom: 20px;
  }
  .about-section .skills .skills-item:last-child {
    padding-bottom: 0px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }
  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }
  .about-section .timeline::before {
    left: 35px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }
  .about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }
  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }
  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0px;
  }
  .about-section
    .timeline
    .timeline-item:nth-child(odd)
    .timeline-item-inner::before,
  .about-section
    .timeline
    .timeline-item:nth-child(even)
    .timeline-item-inner::before {
    left: -20px;
    right: auto;
    width: 20px;
  }
  .scroll-up{
    bottom: 45px;
  }
  
}

@media (max-width: 650px) {
  .home-section .home-img .img-box {
    max-width: 260px;
  }
  .home-section .home-text h1 {
    font-size: 40px;
  }
  .about-section .skills .skills-item {
    padding-bottom: 20px;
  }
  .contact-section .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin: auto;
  }
  .effect-2{
    bottom: 10%;
  }
  .effect-4 {
    left: 15%;
    top: 10%;
}
.effect-5 {
  right: 7%;
  top: 51%;
}
.effect-3 {
  margin-left: -100px;
}
}
